[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/11QCp1MLks4SclAq4QvM-cRrDlaU7Qnb_?authuser=0#scrollTo=M2YJE0NM4j6v)

## **Conexión con Kaggle para abrir fácilmente los datasets.**

Se añaden los códigos para poder subir los datasets, el procedimiento fue el siguiente:

1. Entramos a nuestra cuenta de Kaggle, Settings y luego en API (Create new Token).
2. El paso anterior me descarga un archivo .Json que contiene mi nombre de cuenta y una llave (Esto se subió a este Notebook).
3. Se añadieron los códigos siguientes y en el último se debe poner el nombre de la competición que se encuentra al final de la sección "Data" de la misma competición.

In [1]:
!pip install kaggle
!mkdir ~/.kaggle #Se instala la librería de Kaggle
!touch ~/.kaggle/kaggle.json
# Generado desde la página de Kaggle
api_token ={"username":"josealejandrourrego","key":"c42e706678df9b3283b5473dbe2c0c8a"}
import json
with open('/root/.kaggle/kaggle.json', 'w') as file:
    json.dump(api_token, file)
!chmod 600 ~/.kaggle/kaggle.json
!kaggle competitions download -c DontGetKicked
!unzip DontGetKicked.zip #Se descomprime el archivo .zip donde está el dataset

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)
Downloading DontGetKicked.zip to /content
 98% 10.0M/10.2M [00:00<00:00, 42.4MB/s]
100% 10.2M/10.2M [00:00<00:00, 43.2MB/s]
Archive:  DontGetKicked.zip
  inflating: Carvana_Data_Dictionary.txt
  inflating: example_entry.csv
  inflating: test.csv
  inflating: test.zip
  inflating: training.csv
  inflating: training.zip

# **1. Importación de librerías**

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# **2. Llamado a los datos**

In [3]:
#Este primer archivo txt contiene todas las variables con su explicación para el desarrollo de los modelos
características= open("Carvana_Data_Dictionary.txt")
print(características.read())

Field Name				Definition
RefID				        Unique (sequential) number assigned to vehicles
IsBadBuy				Identifies if the kicked vehicle was an avoidable purchase
PurchDate				The Date the vehicle was Purchased at Auction
Auction					Auction provider at which the  vehicle was purchased
VehYear					The manufacturer's year of the vehicle
VehicleAge				The Years elapsed since the manufacturer's year
Make					Vehicle Manufacturer
Model					Vehicle Model
Trim					Vehicle Trim Level
SubModel				Vehicle Submodel
Color					Vehicle Color
Transmission				Vehicles transmission type (Automatic, Manual)
WheelTypeID				The type id of the vehicle wheel
WheelType				The vehicle wheel type description (Alloy, Covers)
VehOdo					The vehicles odometer reading
Nationality				The Manufacturer's country
Size					The size category of the vehicle (Compact, SUV, etc.)
TopThreeAmericanName			Identifies if the manufacturer is one of the top three American manufacturers
MMRAcquisitionAuctionAveragePrice	Acquisition price for this vehicle in average condition at time of purchase
MMRAcquisitionAuctionCleanPrice		Acquisition price for this vehicle in the above Average condition at time of purchase
MMRAcquisitionRetailAveragePrice	Acquisition price for this vehicle in the retail market in average condition at time of purchase
MMRAcquisitonRetailCleanPrice		Acquisition price for this vehicle in the retail market in above average condition at time of purchase
MMRCurrentAuctionAveragePrice		Acquisition price for this vehicle in average condition as of current day
MMRCurrentAuctionCleanPrice		Acquisition price for this vehicle in the above condition as of current day
MMRCurrentRetailAveragePrice		Acquisition price for this vehicle in the retail market in average condition as of current day
MMRCurrentRetailCleanPrice		Acquisition price for this vehicle in the retail market in above average condition as of current day
PRIMEUNIT				Identifies if the vehicle would have a higher demand than a standard purchase
AcquisitionType				Identifies how the vehicle was aquired (Auction buy, trade in, etc)
AUCGUART				The level guarntee provided by auction for the vehicle (Green light - Guaranteed/arbitratable, Yellow Light - caution/issue, red light - sold as is)
KickDate				Date the vehicle was kicked back to the auction
BYRNO					Unique number assigned to the buyer that purchased the vehicle
VNZIP                                   Zipcode where the car was purchased
VNST                                    State where the the car was purchased
VehBCost				Acquisition cost paid for the vehicle at time of purchase
IsOnlineSale				Identifies if the vehicle was originally purchased online
WarrantyCost                            Warranty price (term=36month  and millage=36K)

In [4]:
data=pd.read_csv("training.csv") # Dataset que contiene el 60% de los datos totales (destinados a entrenamiento)
#Los datos totales train + test son 121756
data

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72978,73010,1,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,...,4836.0,5937.0,NaN,NaN,18111,30212,GA,4200.0,0,993
72979,73011,0,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,...,10151.0,11652.0,NaN,NaN,18881,30212,GA,6200.0,0,1038
72980,73012,0,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,...,11831.0,14402.0,NaN,NaN,18111,30212,GA,8200.0,0,1893
72981,73013,0,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,...,10099.0,11228.0,NaN,NaN,18881,30212,GA,7000.0,0,1974
72982,73014,0,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,...,11954.0,13246.0,NaN,NaN,18111,30212,GA,8000.0,0,1313

# **3. Limpieza preliminar de los datos**

In [5]:
# Se muestran 5 filas aleatorias de entre todos los datos de entrenamiento
data.sample(5)

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
65981,66013,0,5/7/2009,ADESA,2004,5,CHEVROLET,CAVALIER 4C 2.2L I-4,LS,4D SEDAN LS,...,3958.0,5040.0,NaN,NaN,17675,28273,NC,4035.0,0,1020
46889,46913,0,4/7/2009,MANHEIM,2004,5,CHEVROLET,SUBURBAN 1500 2WD 5.,150,4D UTILITY 5.3L FFV LT,...,10177.0,11328.0,NaN,NaN,17212,75050,TX,11050.0,0,1763
67871,67903,1,10/16/2009,ADESA,2002,7,HYUNDAI,SONATA V6,GLS,4D SEDAN,...,3212.0,4289.0,NaN,NaN,18111,37771,TN,4200.0,0,1103
69214,69246,0,12/4/2009,ADESA,2006,3,NISSAN,SENTRA,Bas,4D SEDAN 1.8,...,8100.0,9523.0,NaN,NaN,16926,91752,CA,6170.0,0,594
44420,44444,0,12/14/2010,MANHEIM,2005,5,DODGE,CARAVAN GRAND FWD V6,SXT,MINIVAN 3.8L SXT,...,9242.0,10898.0,NO,GREEN,16044,19440,PA,7130.0,0,1763

In [6]:
# Se revisa si existen valores nulos o faltantes de entre todos los tipos de variables (Numéricas + Categóricas)
data.isna().sum()

RefId                                    0
IsBadBuy                                 0
PurchDate                                0
Auction                                  0
VehYear                                  0
VehicleAge                               0
Make                                     0
Model                                    0
Trim                                  2360
SubModel                                 8
Color                                    8
Transmission                             9
WheelTypeID                           3169
WheelType                             3174
VehOdo                                   0
Nationality                              5
Size                                     5
TopThreeAmericanName                     5
MMRAcquisitionAuctionAveragePrice       18
MMRAcquisitionAuctionCleanPrice         18
MMRAcquisitionRetailAveragePrice        18
MMRAcquisitonRetailCleanPrice           18
MMRCurrentAuctionAveragePrice          315
MMRCurrentAuctionCleanPrice            315
MMRCurrentRetailAveragePrice           315
MMRCurrentRetailCleanPrice             315
PRIMEUNIT                            69564
AUCGUART                             69564
BYRNO                                    0
VNZIP1                                   0
VNST                                     0
VehBCost                                 0
IsOnlineSale                             0
WarrantyCost                             0
dtype: int64

De la línea de código anterior se puede concluir que existen muchos datos nulos o faltantes en específicamente 5 variables
1. Trim: Nivel de equipamiento del vehículo
2. Wheel Type y Wheel type ID: tipo de ruedas con su ID
3. PRIMEUNIT: Identifica si el vehículo en cuestión tiene una demanda elevada
4. AUCGUART: Nivel de garantía otorgada por la subasta para el vehículo

De este primer análisis se concluye que las variables que involucran algún reporte por parte de la subasta sobre el estado pasado (1), presente (2,3) y futuro (4) del vehículo subastado tiene muchos datos faltantes ya sea por negligencia o con el objetivo de sacar algún provecho por parte de la subasta ocultando estos datos

Además, se eliminan las siguientes columnas ya que en nuestra opinión no aportan mucha información al análisis.

1. RefID: Ya que esta columna solo nos da información de la numeración de las filas dentro del mismo dataframe.
2. PurchDate: La fecha en la que se compró el vehículo nos parece poco relevante porque en cualquier temporada del año se puede o no obtener una compra patada.
3. VehicleAge: Se elimina la edad del vehículo ya que su fecha de fabricación nos parece más relevante (VehYear) debido a que el posible averió del vehículo pudo haber venido de fábrica y esto se determina a partir del lote o fecha de fabricación.
4. Se eliminan igualmente las columnas modelo (Model) y submodelo (SubModel) ya que, con el solo fabricante, es decir, "make" se puede determinar si el vehículo tiene cierta predisposición a ser una mala compra.
5. Color: Se elimina esta variable ya que la apariencia superficial del vehículo no nos dice nada, porque un vehículo puede tener cierto color que lo predispone a ser "exclusivo" como el negro, pero podría representar una posible compra patada.
6. BYRNO: Esta columna correspondiente al NIT o representación numérica del comprador no nos da más información, salvo conocer el comprador.
7. VNZIP1: El código postal donde se compró el auto tampoco tiene mucha relevancia según nuestro juicio.+
8. VNST: El estado donde fue comprado tampoco nos es de utilidad.

Estas columnas se eliminan en primera instancia ya que tienen muchos datos faltantes o no nos brindan mucha información.

In [7]:
#Se eliminan las variables que no son de interés del dataframe
data=data.copy()
datosNuevos=data.drop(["PurchDate","WheelType","WheelTypeID","WheelType","RefId","PRIMEUNIT","AUCGUART","Model","SubModel","VehicleAge",
                       "Color","BYRNO","VNZIP1","Trim","VNST"],axis=1)
datosNuevos

#Este dataframe construidos corresponde a los datos que usaremos para el entrenamiento de los modelos

,IsBadBuy,Auction,VehYear,Make,Transmission,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,VehBCost,IsOnlineSale,WarrantyCost
0,0,ADESA,2006,MAZDA,AUTO,89046,OTHER ASIAN,MEDIUM,OTHER,8155.0,9829.0,11636.0,13600.0,7451.0,8552.0,11597.0,12409.0,7100.0,0,1113
1,0,ADESA,2004,DODGE,AUTO,93593,AMERICAN,LARGE TRUCK,CHRYSLER,6854.0,8383.0,10897.0,12572.0,7456.0,9222.0,11374.0,12791.0,7600.0,0,1053
2,0,ADESA,2005,DODGE,AUTO,73807,AMERICAN,MEDIUM,CHRYSLER,3202.0,4760.0,6943.0,8457.0,4035.0,5557.0,7146.0,8702.0,4900.0,0,1389
3,0,ADESA,2004,DODGE,AUTO,65617,AMERICAN,COMPACT,CHRYSLER,1893.0,2675.0,4658.0,5690.0,1844.0,2646.0,4375.0,5518.0,4100.0,0,630
4,0,ADESA,2005,FORD,MANUAL,69367,AMERICAN,COMPACT,FORD,3913.0,5054.0,7723.0,8707.0,3247.0,4384.0,6739.0,7911.0,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72978,1,ADESA,2001,MERCURY,AUTO,45234,AMERICAN,MEDIUM,FORD,1996.0,2993.0,2656.0,3732.0,2190.0,3055.0,4836.0,5937.0,4200.0,0,993
72979,0,ADESA,2007,CHEVROLET,AUTO,71759,AMERICAN,MEDIUM,GM,6418.0,7325.0,7431.0,8411.0,6785.0,8132.0,10151.0,11652.0,6200.0,0,1038
72980,0,ADESA,2005,JEEP,AUTO,88500,AMERICAN,MEDIUM SUV,CHRYSLER,8545.0,9959.0,9729.0,11256.0,8375.0,9802.0,11831.0,14402.0,8200.0,0,1893
72981,0,ADESA,2006,CHEVROLET,AUTO,79554,AMERICAN,LARGE,GM,6420.0,7604.0,7434.0,8712.0,6590.0,7684.0,10099.0,11228.0,7000.0,0,1974
72982,0,ADESA,2006,MAZDA,AUTO,66855,OTHER ASIAN,MEDIUM,OTHER,7535.0,8771.0,8638.0,9973.0,7730.0,9102.0,11954.0,13246.0,8000.0,0,1313

# **4. Data Cleaning e imputación de datos categóricos (Entrenamiento)**

A continuación, se seleccionan los datos categóricos de nuestro dataframe de datos previamente filtrado

In [8]:
datos_categoricos = datosNuevos.select_dtypes(include=['object','category'])
datos_categoricos

,Auction,Make,Transmission,Nationality,Size,TopThreeAmericanName
0,ADESA,MAZDA,AUTO,OTHER ASIAN,MEDIUM,OTHER
1,ADESA,DODGE,AUTO,AMERICAN,LARGE TRUCK,CHRYSLER
2,ADESA,DODGE,AUTO,AMERICAN,MEDIUM,CHRYSLER
3,ADESA,DODGE,AUTO,AMERICAN,COMPACT,CHRYSLER
4,ADESA,FORD,MANUAL,AMERICAN,COMPACT,FORD
...,...,...,...,...,...,...
72978,ADESA,MERCURY,AUTO,AMERICAN,MEDIUM,FORD
72979,ADESA,CHEVROLET,AUTO,AMERICAN,MEDIUM,GM
72980,ADESA,JEEP,AUTO,AMERICAN,MEDIUM SUV,CHRYSLER
72981,ADESA,CHEVROLET,AUTO,AMERICAN,LARGE,GM
72982,ADESA,MAZDA,AUTO,OTHER ASIAN,MEDIUM,OTHER

A continuación, visualizamos los datos faltantes de entre los datos categóricos para realizar la imputación de datos faltantes, lo cual consiste en la sustitución de valores no informados o reportados por otros.

In [9]:
datos_categoricos.isna().sum()

Auction                 0
Make                    0
Transmission            9
Nationality             5
Size                    5
TopThreeAmericanName    5
dtype: int64

De la anterior línea de código se concluye que los datos categóricos presentes no poseen una gran cantidad de datos faltantes, por lo que se reemplazan dichos datos por la moda, es decir, por el término que más veces se repite en cada columna.

Esto se hace pensando en que los datos categóricos al estar compuestos por nombres propios, se intuye que el nombre propio que más se repite dentro de los datos no faltantes seguirá esta tendencia para los faltantes.

In [10]:
datos_categoricos['Transmission'].fillna(datos_categoricos['Transmission'].mode()[0], inplace=True)
datos_categoricos['Nationality'].fillna(datos_categoricos['Nationality'].mode()[0], inplace=True)
datos_categoricos['Size'].fillna(datos_categoricos['Size'].mode()[0], inplace=True)
datos_categoricos['TopThreeAmericanName'].fillna(datos_categoricos['TopThreeAmericanName'].mode()[0], inplace=True)
datos_categoricos

,Auction,Make,Transmission,Nationality,Size,TopThreeAmericanName
0,ADESA,MAZDA,AUTO,OTHER ASIAN,MEDIUM,OTHER
1,ADESA,DODGE,AUTO,AMERICAN,LARGE TRUCK,CHRYSLER
2,ADESA,DODGE,AUTO,AMERICAN,MEDIUM,CHRYSLER
3,ADESA,DODGE,AUTO,AMERICAN,COMPACT,CHRYSLER
4,ADESA,FORD,MANUAL,AMERICAN,COMPACT,FORD
...,...,...,...,...,...,...
72978,ADESA,MERCURY,AUTO,AMERICAN,MEDIUM,FORD
72979,ADESA,CHEVROLET,AUTO,AMERICAN,MEDIUM,GM
72980,ADESA,JEEP,AUTO,AMERICAN,MEDIUM SUV,CHRYSLER
72981,ADESA,CHEVROLET,AUTO,AMERICAN,LARGE,GM
72982,ADESA,MAZDA,AUTO,OTHER ASIAN,MEDIUM,OTHER

A continuación, se revisan nuevamente los datos para verificar si se llenaron los datos por la moda

In [11]:
datos_categoricos.isna().sum() #Efectivamente, ahora ya no existen datos nulos o faltantes dentro de los datos categóricos

Auction                 0
Make                    0
Transmission            0
Nationality             0
Size                    0
TopThreeAmericanName    0
dtype: int64

Ahora se procede a realizar la conversión de las variables categóricas a números binarios (Codificación en caliente), donde 0 indica inexistente y 1 indica que si existe

In [12]:
datos_categoricos = datos_categoricos.astype(str)
DatosCategoricos = pd.get_dummies(datos_categoricos)
DatosCategoricos

,Auction_ADESA,Auction_MANHEIM,Auction_OTHER,Make_ACURA,Make_BUICK,Make_CADILLAC,Make_CHEVROLET,Make_CHRYSLER,Make_DODGE,Make_FORD,...,Size_MEDIUM SUV,Size_SMALL SUV,Size_SMALL TRUCK,Size_SPECIALTY,Size_SPORTS,Size_VAN,TopThreeAmericanName_CHRYSLER,TopThreeAmericanName_FORD,TopThreeAmericanName_GM,TopThreeAmericanName_OTHER
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72978,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
72979,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
72980,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
72981,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
72982,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# **5. Data Cleaning e imputación de datos numéricos (Entrenamiento)**

A continuación, se seleccionan los datos numéricos de nuestro dataframe de datos (datosNuevos) previamente filtrado

In [13]:
datos_numericos = datosNuevos._get_numeric_data()
datos_numericos

,IsBadBuy,VehYear,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,VehBCost,IsOnlineSale,WarrantyCost
0,0,2006,89046,8155.0,9829.0,11636.0,13600.0,7451.0,8552.0,11597.0,12409.0,7100.0,0,1113
1,0,2004,93593,6854.0,8383.0,10897.0,12572.0,7456.0,9222.0,11374.0,12791.0,7600.0,0,1053
2,0,2005,73807,3202.0,4760.0,6943.0,8457.0,4035.0,5557.0,7146.0,8702.0,4900.0,0,1389
3,0,2004,65617,1893.0,2675.0,4658.0,5690.0,1844.0,2646.0,4375.0,5518.0,4100.0,0,630
4,0,2005,69367,3913.0,5054.0,7723.0,8707.0,3247.0,4384.0,6739.0,7911.0,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72978,1,2001,45234,1996.0,2993.0,2656.0,3732.0,2190.0,3055.0,4836.0,5937.0,4200.0,0,993
72979,0,2007,71759,6418.0,7325.0,7431.0,8411.0,6785.0,8132.0,10151.0,11652.0,6200.0,0,1038
72980,0,2005,88500,8545.0,9959.0,9729.0,11256.0,8375.0,9802.0,11831.0,14402.0,8200.0,0,1893
72981,0,2006,79554,6420.0,7604.0,7434.0,8712.0,6590.0,7684.0,10099.0,11228.0,7000.0,0,1974
72982,0,2006,66855,7535.0,8771.0,8638.0,9973.0,7730.0,9102.0,11954.0,13246.0,8000.0,0,1313

A continuación, visualizamos los datos faltantes de entre los datos numéricos para realizar la imputación de datos faltantes, lo cual consiste en la sustitución de valores no informados o reportados por otros.

In [14]:
datos_numericos.isna().sum()

IsBadBuy                               0
VehYear                                0
VehOdo                                 0
MMRAcquisitionAuctionAveragePrice     18
MMRAcquisitionAuctionCleanPrice       18
MMRAcquisitionRetailAveragePrice      18
MMRAcquisitonRetailCleanPrice         18
MMRCurrentAuctionAveragePrice        315
MMRCurrentAuctionCleanPrice          315
MMRCurrentRetailAveragePrice         315
MMRCurrentRetailCleanPrice           315
VehBCost                               0
IsOnlineSale                           0
WarrantyCost                           0
dtype: int64

A diferencia de los datos categóricos, para los datos numéricos se recomienda en la teoría la imputación de datos faltantes a partir de la media. A continuación, se realiza este reemplazo para todas las columnas de los datos numéricos con datos faltantes

In [15]:
datos_numericos['MMRAcquisitionAuctionAveragePrice'].fillna(datos_numericos['MMRAcquisitionAuctionAveragePrice'].mean(), inplace=True)
datos_numericos['MMRAcquisitionAuctionCleanPrice'].fillna(datos_numericos['MMRAcquisitionAuctionCleanPrice'].mean(), inplace=True)
datos_numericos['MMRAcquisitionRetailAveragePrice'].fillna(datos_numericos['MMRAcquisitionRetailAveragePrice'].mean(), inplace=True)
datos_numericos['MMRAcquisitonRetailCleanPrice'].fillna(datos_numericos['MMRAcquisitonRetailCleanPrice'].mean(), inplace=True)
datos_numericos['MMRCurrentAuctionAveragePrice'].fillna(datos_numericos['MMRCurrentAuctionAveragePrice'].mean(), inplace=True)
datos_numericos['MMRCurrentAuctionCleanPrice'].fillna(datos_numericos['MMRCurrentAuctionCleanPrice'].mean(), inplace=True)
datos_numericos['MMRCurrentRetailAveragePrice'].fillna(datos_numericos['MMRCurrentRetailAveragePrice'].mean(), inplace=True)
datos_numericos['MMRCurrentRetailCleanPrice'].fillna(datos_numericos['MMRCurrentRetailCleanPrice'].mean(), inplace=True)
DatosNumericos=datos_numericos #Se renombra el dataframe con otro nombre
DatosNumericos

,IsBadBuy,VehYear,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,VehBCost,IsOnlineSale,WarrantyCost
0,0,2006,89046,8155.0,9829.0,11636.0,13600.0,7451.0,8552.0,11597.0,12409.0,7100.0,0,1113
1,0,2004,93593,6854.0,8383.0,10897.0,12572.0,7456.0,9222.0,11374.0,12791.0,7600.0,0,1053
2,0,2005,73807,3202.0,4760.0,6943.0,8457.0,4035.0,5557.0,7146.0,8702.0,4900.0,0,1389
3,0,2004,65617,1893.0,2675.0,4658.0,5690.0,1844.0,2646.0,4375.0,5518.0,4100.0,0,630
4,0,2005,69367,3913.0,5054.0,7723.0,8707.0,3247.0,4384.0,6739.0,7911.0,4000.0,0,1020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72978,1,2001,45234,1996.0,2993.0,2656.0,3732.0,2190.0,3055.0,4836.0,5937.0,4200.0,0,993
72979,0,2007,71759,6418.0,7325.0,7431.0,8411.0,6785.0,8132.0,10151.0,11652.0,6200.0,0,1038
72980,0,2005,88500,8545.0,9959.0,9729.0,11256.0,8375.0,9802.0,11831.0,14402.0,8200.0,0,1893
72981,0,2006,79554,6420.0,7604.0,7434.0,8712.0,6590.0,7684.0,10099.0,11228.0,7000.0,0,1974
72982,0,2006,66855,7535.0,8771.0,8638.0,9973.0,7730.0,9102.0,11954.0,13246.0,8000.0,0,1313

A continuación, se revisan nuevamente los datos para verificar si se llenaron los datos por la media

In [16]:
DatosNumericos.isna().sum() #Efectivamente, ahora ya no existen datos nulos o faltantes dentro de los datos numéricos

IsBadBuy                             0
VehYear                              0
VehOdo                               0
MMRAcquisitionAuctionAveragePrice    0
MMRAcquisitionAuctionCleanPrice      0
MMRAcquisitionRetailAveragePrice     0
MMRAcquisitonRetailCleanPrice        0
MMRCurrentAuctionAveragePrice        0
MMRCurrentAuctionCleanPrice          0
MMRCurrentRetailAveragePrice         0
MMRCurrentRetailCleanPrice           0
VehBCost                             0
IsOnlineSale                         0
WarrantyCost                         0
dtype: int64

In [17]:
#A continuación, se unen los dos dataframes preprocesados (Numéricos + Categóricos)
training=pd.concat([DatosNumericos,DatosCategoricos],axis=1)
training #De esta forma ya tendríamos totalmente filtrados y limpiados los datos de entrenamiento

,IsBadBuy,VehYear,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,...,Size_MEDIUM SUV,Size_SMALL SUV,Size_SMALL TRUCK,Size_SPECIALTY,Size_SPORTS,Size_VAN,TopThreeAmericanName_CHRYSLER,TopThreeAmericanName_FORD,TopThreeAmericanName_GM,TopThreeAmericanName_OTHER
0,0,2006,89046,8155.0,9829.0,11636.0,13600.0,7451.0,8552.0,11597.0,...,0,0,0,0,0,0,0,0,0,1
1,0,2004,93593,6854.0,8383.0,10897.0,12572.0,7456.0,9222.0,11374.0,...,0,0,0,0,0,0,1,0,0,0
2,0,2005,73807,3202.0,4760.0,6943.0,8457.0,4035.0,5557.0,7146.0,...,0,0,0,0,0,0,1,0,0,0
3,0,2004,65617,1893.0,2675.0,4658.0,5690.0,1844.0,2646.0,4375.0,...,0,0,0,0,0,0,1,0,0,0
4,0,2005,69367,3913.0,5054.0,7723.0,8707.0,3247.0,4384.0,6739.0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72978,1,2001,45234,1996.0,2993.0,2656.0,3732.0,2190.0,3055.0,4836.0,...,0,0,0,0,0,0,0,1,0,0
72979,0,2007,71759,6418.0,7325.0,7431.0,8411.0,6785.0,8132.0,10151.0,...,0,0,0,0,0,0,0,0,1,0
72980,0,2005,88500,8545.0,9959.0,9729.0,11256.0,8375.0,9802.0,11831.0,...,1,0,0,0,0,0,1,0,0,0
72981,0,2006,79554,6420.0,7604.0,7434.0,8712.0,6590.0,7684.0,10099.0,...,0,0,0,0,0,0,0,0,1,0
72982,0,2006,66855,7535.0,8771.0,8638.0,9973.0,7730.0,9102.0,11954.0,...,0,0,0,0,0,0,0,0,0,1



# **6. Data Cleaning e imputación de datos numéricos y categoricos (Testeo)**

In [18]:
data1=pd.read_csv("test.csv") # Dataset que contiene el 40% de los datos totales (destinados a Evaluación o testeo)
#Los datos totales train + test son 121756
data1

,RefId,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,73015,12/2/2009,ADESA,2005,4,PONTIAC,GRAND PRIX,Bas,4D SEDAN,SILVER,...,8557.0,9752.0,NaN,NaN,18881,30212,GA,6500.0,0,2152
1,73016,12/2/2009,ADESA,2005,4,CHEVROLET,MALIBU V6,LS,4D SEDAN LS,SILVER,...,7562.0,9296.0,NaN,NaN,18111,30212,GA,6300.0,0,1118
2,73017,12/2/2009,ADESA,2006,3,DODGE,DURANGO 2WD V8,Adv,4D SUV 4.7L ADVENTURER,SILVER,...,15340.0,16512.0,NaN,NaN,18111,30212,GA,9700.0,0,1215
3,73018,12/2/2009,ADESA,2002,7,SATURN,L SERIES,L20,4D SEDAN L200,GOLD,...,5725.0,6398.0,NaN,NaN,18881,30212,GA,4150.0,0,1933
4,73019,12/2/2009,ADESA,2007,2,HYUNDAI,ACCENT,GS,2D COUPE GS,BLUE,...,5914.0,7350.0,NaN,NaN,18111,30212,GA,4100.0,0,920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48702,121742,11/17/2010,MANHEIM,2005,5,FORD,FIVE HUNDRED,SEL,4D SEDAN SEL,BLACK,...,9764.0,11395.0,NaN,NaN,20928,33411,FL,7955.0,0,1633
48703,121743,11/17/2010,MANHEIM,2007,3,TOYOTA,COROLLA,CE,4D SEDAN CE,GREEN,...,10283.0,11565.0,NaN,NaN,20928,33411,FL,7035.0,0,594
48704,121744,11/17/2010,MANHEIM,2006,4,KIA,SPECTRA,EX,4D SEDAN EX,BLACK,...,7871.0,9490.0,NO,GREEN,20928,33411,FL,6335.0,0,594
48705,121745,11/17/2010,MANHEIM,2005,5,MAZDA,MAZDA3,s,4D SEDAN GT,SILVER,...,8576.0,9937.0,NO,GREEN,20928,33411,FL,8055.0,0,1038
48706,121746,11/17/2010,MANHEIM,2003,7,BUICK,RENDEZVOUS AWD,CX,4D SUV CX,GOLD,...,8266.0,9388.0,NO,GREEN,20928,33411,FL,7755.0,0,5392

In [19]:
# Se muestran 5 filas aleatorias de entre todos los datos de testeo
data1.sample(5)

,RefId,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
16433,89454,4/20/2010,MANHEIM,2004,6,NISSAN,XTERRA 2WD V6,SE,4D SPORT UTILITY,YELLOW,...,10891.0,12350.0,NaN,NaN,5546,34761,FL,9185.0,0,569
24148,97173,3/18/2009,OTHER,2006,3,SUZUKI,FORENZA 2.0L I4 EFI,NaN,4D SEDAN,WHITE,...,5027.0,5923.0,NaN,NaN,17675,27407,NC,5500.0,0,482
26891,99918,10/26/2010,MANHEIM,2008,2,CHEVROLET,IMPALA V6,LT,4D SEDAN LT 3.5L FFV,SILVER,...,13602.0,15166.0,NO,GREEN,52646,19440,PA,8290.0,0,1974
38043,111074,2/24/2009,OTHER,2007,2,SUZUKI,FORENZA 2.0L I4 EFI,NaN,4D SEDAN,GREY,...,6511.0,7393.0,NaN,NaN,8172,29070,SC,5650.0,0,533
42316,115349,8/19/2010,MANHEIM,2003,7,FORD,TAURUS,SE,4D SEDAN SE,GOLD,...,5128.0,6475.0,NaN,NaN,23359,92337,CA,3955.0,0,1283

In [20]:
# Se revisa si existen valores nulos o faltantes de entre todos los tipos de variables (Numéricas + Categóricas)
data1.isna().sum()

RefId                                    0
PurchDate                                0
Auction                                  0
VehYear                                  0
VehicleAge                               0
Make                                     0
Model                                    0
Trim                                  1550
SubModel                                 5
Color                                    4
Transmission                             3
WheelTypeID                           2188
WheelType                             2188
VehOdo                                   0
Nationality                              7
Size                                     7
TopThreeAmericanName                     7
MMRAcquisitionAuctionAveragePrice       10
MMRAcquisitionAuctionCleanPrice         10
MMRAcquisitionRetailAveragePrice        10
MMRAcquisitonRetailCleanPrice           10
MMRCurrentAuctionAveragePrice          143
MMRCurrentAuctionCleanPrice            143
MMRCurrentRetailAveragePrice           143
MMRCurrentRetailCleanPrice             143
PRIMEUNIT                            46191
AUCGUART                             46191
BYRNO                                    0
VNZIP1                                   0
VNST                                     0
VehBCost                                 0
IsOnlineSale                             0
WarrantyCost                             0
dtype: int64

A continuación, se eliminan las mismas variables anteriormente eliminadas en el dataframe de entrenamiento.

In [21]:
#Se eliminan las variables que no son de interés del dataframe
data1=data1.copy()
datosNuevosTest=data1.drop(["PurchDate","WheelType","WheelTypeID","WheelType","RefId","PRIMEUNIT","AUCGUART","Model","SubModel","VehicleAge",
                       "Color","BYRNO","VNZIP1","Trim","VNST"],axis=1)
datosNuevosTest

#Este dataframe construidos corresponde a los datos que usaremos para el entrenamiento de los modelos

,Auction,VehYear,Make,Transmission,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,VehBCost,IsOnlineSale,WarrantyCost
0,ADESA,2005,PONTIAC,AUTO,85377,AMERICAN,LARGE,GM,5032.0,6386.0,5935.0,7397.0,4905.0,6181.0,8557.0,9752.0,6500.0,0,2152
1,ADESA,2005,CHEVROLET,AUTO,61873,AMERICAN,MEDIUM,GM,4502.0,5685.0,5362.0,6640.0,4645.0,5710.0,7562.0,9296.0,6300.0,0,1118
2,ADESA,2006,DODGE,AUTO,69283,AMERICAN,MEDIUM SUV,CHRYSLER,10244.0,13041.0,11564.0,14584.0,10883.0,12166.0,15340.0,16512.0,9700.0,0,1215
3,ADESA,2002,SATURN,AUTO,87889,AMERICAN,MEDIUM,GM,2558.0,3542.0,3263.0,4325.0,2928.0,3607.0,5725.0,6398.0,4150.0,0,1933
4,ADESA,2007,HYUNDAI,AUTO,73432,OTHER ASIAN,COMPACT,OTHER,5013.0,6343.0,5914.0,7350.0,5013.0,6343.0,5914.0,7350.0,4100.0,0,920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48702,MANHEIM,2005,FORD,AUTO,88645,AMERICAN,LARGE,FORD,5358.0,6836.0,8987.0,10905.0,5761.0,6965.0,9764.0,11395.0,7955.0,0,1633
48703,MANHEIM,2007,TOYOTA,AUTO,81862,TOP LINE ASIAN,COMPACT,OTHER,6849.0,7992.0,10999.0,12021.0,6856.0,8183.0,10283.0,11565.0,7035.0,0,594
48704,MANHEIM,2006,KIA,AUTO,82451,OTHER ASIAN,MEDIUM,OTHER,4662.0,5655.0,7972.0,9670.0,4833.0,5856.0,7871.0,9490.0,6335.0,0,594
48705,MANHEIM,2005,MAZDA,AUTO,75760,OTHER ASIAN,MEDIUM,OTHER,5953.0,8166.0,9137.0,11949.0,5092.0,6853.0,8576.0,9937.0,8055.0,0,1038
48706,MANHEIM,2003,BUICK,AUTO,82174,AMERICAN,MEDIUM SUV,GM,3269.0,4435.0,6893.0,8221.0,4526.0,5761.0,8266.0,9388.0,7755.0,0,5392

In [22]:
datos_categoricosTest = datosNuevosTest.select_dtypes(include=['object','category'])
datos_categoricosTest

,Auction,Make,Transmission,Nationality,Size,TopThreeAmericanName
0,ADESA,PONTIAC,AUTO,AMERICAN,LARGE,GM
1,ADESA,CHEVROLET,AUTO,AMERICAN,MEDIUM,GM
2,ADESA,DODGE,AUTO,AMERICAN,MEDIUM SUV,CHRYSLER
3,ADESA,SATURN,AUTO,AMERICAN,MEDIUM,GM
4,ADESA,HYUNDAI,AUTO,OTHER ASIAN,COMPACT,OTHER
...,...,...,...,...,...,...
48702,MANHEIM,FORD,AUTO,AMERICAN,LARGE,FORD
48703,MANHEIM,TOYOTA,AUTO,TOP LINE ASIAN,COMPACT,OTHER
48704,MANHEIM,KIA,AUTO,OTHER ASIAN,MEDIUM,OTHER
48705,MANHEIM,MAZDA,AUTO,OTHER ASIAN,MEDIUM,OTHER
48706,MANHEIM,BUICK,AUTO,AMERICAN,MEDIUM SUV,GM

A continuación, visualizamos los datos faltantes de entre los datos categóricos para realizar la imputación de datos faltantes, lo cual consiste en la sustitución de valores no informados o reportados por otros.

In [23]:
datos_categoricosTest.isna().sum()

Auction                 0
Make                    0
Transmission            3
Nationality             7
Size                    7
TopThreeAmericanName    7
dtype: int64

De la anterior línea de código se concluye que los datos categóricos presentes no poseen una gran cantidad de datos faltantes, por lo que se reemplazan dichos datos por la moda, es decir, por el término que más veces se repite en cada columna.

Se realiza el mismo análisis que se hizo para los datos de entrenamiento

In [24]:
datos_categoricosTest['Transmission'].fillna(datos_categoricosTest['Transmission'].mode()[0], inplace=True)
datos_categoricosTest['Nationality'].fillna(datos_categoricosTest['Nationality'].mode()[0], inplace=True)
datos_categoricosTest['Size'].fillna(datos_categoricosTest['Size'].mode()[0], inplace=True)
datos_categoricosTest['TopThreeAmericanName'].fillna(datos_categoricosTest['TopThreeAmericanName'].mode()[0], inplace=True)
datos_categoricosTest

,Auction,Make,Transmission,Nationality,Size,TopThreeAmericanName
0,ADESA,PONTIAC,AUTO,AMERICAN,LARGE,GM
1,ADESA,CHEVROLET,AUTO,AMERICAN,MEDIUM,GM
2,ADESA,DODGE,AUTO,AMERICAN,MEDIUM SUV,CHRYSLER
3,ADESA,SATURN,AUTO,AMERICAN,MEDIUM,GM
4,ADESA,HYUNDAI,AUTO,OTHER ASIAN,COMPACT,OTHER
...,...,...,...,...,...,...
48702,MANHEIM,FORD,AUTO,AMERICAN,LARGE,FORD
48703,MANHEIM,TOYOTA,AUTO,TOP LINE ASIAN,COMPACT,OTHER
48704,MANHEIM,KIA,AUTO,OTHER ASIAN,MEDIUM,OTHER
48705,MANHEIM,MAZDA,AUTO,OTHER ASIAN,MEDIUM,OTHER
48706,MANHEIM,BUICK,AUTO,AMERICAN,MEDIUM SUV,GM

A continuación, se revisan nuevamente los datos para verificar si se llenaron los datos por la moda

In [25]:
datos_categoricosTest.isna().sum() #Efectivamente, ahora ya no existen datos nulos o faltantes dentro de los datos categóricos

Auction                 0
Make                    0
Transmission            0
Nationality             0
Size                    0
TopThreeAmericanName    0
dtype: int64

Ahora se procede a realizar la conversión de las variables categóricas a números binarios (Codificación en caliente), donde 0 indica inexistente y 1 indica que si existe

In [26]:
datos_categoricosTest = datos_categoricosTest.astype(str)
DatosCategoricosTest = pd.get_dummies(datos_categoricosTest)
DatosCategoricosTest

,Auction_ADESA,Auction_MANHEIM,Auction_OTHER,Make_ACURA,Make_BUICK,Make_CADILLAC,Make_CHEVROLET,Make_CHRYSLER,Make_DODGE,Make_FORD,...,Size_MEDIUM SUV,Size_SMALL SUV,Size_SMALL TRUCK,Size_SPECIALTY,Size_SPORTS,Size_VAN,TopThreeAmericanName_CHRYSLER,TopThreeAmericanName_FORD,TopThreeAmericanName_GM,TopThreeAmericanName_OTHER
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48702,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
48703,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
48704,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
48705,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
48706,0,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0


A continuación, se seleccionan los datos numéricos de nuestro dataframe de datos (datosNuevosTest) previamente filtrado

In [27]:
datos_numericosTest = datosNuevosTest._get_numeric_data()
datos_numericosTest

,VehYear,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,VehBCost,IsOnlineSale,WarrantyCost
0,2005,85377,5032.0,6386.0,5935.0,7397.0,4905.0,6181.0,8557.0,9752.0,6500.0,0,2152
1,2005,61873,4502.0,5685.0,5362.0,6640.0,4645.0,5710.0,7562.0,9296.0,6300.0,0,1118
2,2006,69283,10244.0,13041.0,11564.0,14584.0,10883.0,12166.0,15340.0,16512.0,9700.0,0,1215
3,2002,87889,2558.0,3542.0,3263.0,4325.0,2928.0,3607.0,5725.0,6398.0,4150.0,0,1933
4,2007,73432,5013.0,6343.0,5914.0,7350.0,5013.0,6343.0,5914.0,7350.0,4100.0,0,920
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48702,2005,88645,5358.0,6836.0,8987.0,10905.0,5761.0,6965.0,9764.0,11395.0,7955.0,0,1633
48703,2007,81862,6849.0,7992.0,10999.0,12021.0,6856.0,8183.0,10283.0,11565.0,7035.0,0,594
48704,2006,82451,4662.0,5655.0,7972.0,9670.0,4833.0,5856.0,7871.0,9490.0,6335.0,0,594
48705,2005,75760,5953.0,8166.0,9137.0,11949.0,5092.0,6853.0,8576.0,9937.0,8055.0,0,1038
48706,2003,82174,3269.0,4435.0,6893.0,8221.0,4526.0,5761.0,8266.0,9388.0,7755.0,0,5392


A continuación, visualizamos los datos faltantes de entre los datos numéricos para realizar la imputación de datos faltantes, lo cual consiste en la sustitución de valores no informados o reportados por otros.

In [28]:
datos_numericosTest.isna().sum()

VehYear                                0
VehOdo                                 0
MMRAcquisitionAuctionAveragePrice     10
MMRAcquisitionAuctionCleanPrice       10
MMRAcquisitionRetailAveragePrice      10
MMRAcquisitonRetailCleanPrice         10
MMRCurrentAuctionAveragePrice        143
MMRCurrentAuctionCleanPrice          143
MMRCurrentRetailAveragePrice         143
MMRCurrentRetailCleanPrice           143
VehBCost                               0
IsOnlineSale                           0
WarrantyCost                           0
dtype: int64

A diferencia de los datos categóricos, para los datos numéricos se recomienda en la teoría la imputación de datos faltantes a partir de la media. A continuación, se realiza este reemplazo para todas las columnas de los datos numéricos con datos faltantes

In [29]:
datos_numericosTest['MMRAcquisitionAuctionAveragePrice'].fillna(datos_numericosTest['MMRAcquisitionAuctionAveragePrice'].mean(), inplace=True)
datos_numericosTest['MMRAcquisitionAuctionCleanPrice'].fillna(datos_numericosTest['MMRAcquisitionAuctionCleanPrice'].mean(), inplace=True)
datos_numericosTest['MMRAcquisitionRetailAveragePrice'].fillna(datos_numericosTest['MMRAcquisitionRetailAveragePrice'].mean(), inplace=True)
datos_numericosTest['MMRAcquisitonRetailCleanPrice'].fillna(datos_numericosTest['MMRAcquisitonRetailCleanPrice'].mean(), inplace=True)
datos_numericosTest['MMRCurrentAuctionAveragePrice'].fillna(datos_numericosTest['MMRCurrentAuctionAveragePrice'].mean(), inplace=True)
datos_numericosTest['MMRCurrentAuctionCleanPrice'].fillna(datos_numericosTest['MMRCurrentAuctionCleanPrice'].mean(), inplace=True)
datos_numericosTest['MMRCurrentRetailAveragePrice'].fillna(datos_numericosTest['MMRCurrentRetailAveragePrice'].mean(), inplace=True)
datos_numericosTest['MMRCurrentRetailCleanPrice'].fillna(datos_numericosTest['MMRCurrentRetailCleanPrice'].mean(), inplace=True)
DatosNumericosTest=datos_numericosTest #Se renombra el dataframe con otro nombre
DatosNumericosTest

,VehYear,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,VehBCost,IsOnlineSale,WarrantyCost
0,2005,85377,5032.0,6386.0,5935.0,7397.0,4905.0,6181.0,8557.0,9752.0,6500.0,0,2152
1,2005,61873,4502.0,5685.0,5362.0,6640.0,4645.0,5710.0,7562.0,9296.0,6300.0,0,1118
2,2006,69283,10244.0,13041.0,11564.0,14584.0,10883.0,12166.0,15340.0,16512.0,9700.0,0,1215
3,2002,87889,2558.0,3542.0,3263.0,4325.0,2928.0,3607.0,5725.0,6398.0,4150.0,0,1933
4,2007,73432,5013.0,6343.0,5914.0,7350.0,5013.0,6343.0,5914.0,7350.0,4100.0,0,920
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48702,2005,88645,5358.0,6836.0,8987.0,10905.0,5761.0,6965.0,9764.0,11395.0,7955.0,0,1633
48703,2007,81862,6849.0,7992.0,10999.0,12021.0,6856.0,8183.0,10283.0,11565.0,7035.0,0,594
48704,2006,82451,4662.0,5655.0,7972.0,9670.0,4833.0,5856.0,7871.0,9490.0,6335.0,0,594
48705,2005,75760,5953.0,8166.0,9137.0,11949.0,5092.0,6853.0,8576.0,9937.0,8055.0,0,1038
48706,2003,82174,3269.0,4435.0,6893.0,8221.0,4526.0,5761.0,8266.0,9388.0,7755.0,0,5392

A continuación, se revisan nuevamente los datos para verificar si se llenaron los datos por la media

In [30]:
DatosNumericosTest.isna().sum() #Efectivamente, ahora ya no existen datos nulos o faltantes dentro de los datos numéricos

VehYear                              0
VehOdo                               0
MMRAcquisitionAuctionAveragePrice    0
MMRAcquisitionAuctionCleanPrice      0
MMRAcquisitionRetailAveragePrice     0
MMRAcquisitonRetailCleanPrice        0
MMRCurrentAuctionAveragePrice        0
MMRCurrentAuctionCleanPrice          0
MMRCurrentRetailAveragePrice         0
MMRCurrentRetailCleanPrice           0
VehBCost                             0
IsOnlineSale                         0
WarrantyCost                         0
dtype: int64

In [31]:
#A continuación, se unen los dos dataframes preprocesados (Numéricos + Categóricos)
testing=pd.concat([DatosNumericosTest,DatosCategoricosTest],axis=1)
testing #De esta forma ya tendríamos totalmente filtrados y limpiados los datos de Testeo

,VehYear,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,...,Size_MEDIUM SUV,Size_SMALL SUV,Size_SMALL TRUCK,Size_SPECIALTY,Size_SPORTS,Size_VAN,TopThreeAmericanName_CHRYSLER,TopThreeAmericanName_FORD,TopThreeAmericanName_GM,TopThreeAmericanName_OTHER
0,2005,85377,5032.0,6386.0,5935.0,7397.0,4905.0,6181.0,8557.0,9752.0,...,0,0,0,0,0,0,0,0,1,0
1,2005,61873,4502.0,5685.0,5362.0,6640.0,4645.0,5710.0,7562.0,9296.0,...,0,0,0,0,0,0,0,0,1,0
2,2006,69283,10244.0,13041.0,11564.0,14584.0,10883.0,12166.0,15340.0,16512.0,...,1,0,0,0,0,0,1,0,0,0
3,2002,87889,2558.0,3542.0,3263.0,4325.0,2928.0,3607.0,5725.0,6398.0,...,0,0,0,0,0,0,0,0,1,0
4,2007,73432,5013.0,6343.0,5914.0,7350.0,5013.0,6343.0,5914.0,7350.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48702,2005,88645,5358.0,6836.0,8987.0,10905.0,5761.0,6965.0,9764.0,11395.0,...,0,0,0,0,0,0,0,1,0,0
48703,2007,81862,6849.0,7992.0,10999.0,12021.0,6856.0,8183.0,10283.0,11565.0,...,0,0,0,0,0,0,0,0,0,1
48704,2006,82451,4662.0,5655.0,7972.0,9670.0,4833.0,5856.0,7871.0,9490.0,...,0,0,0,0,0,0,0,0,0,1
48705,2005,75760,5953.0,8166.0,9137.0,11949.0,5092.0,6853.0,8576.0,9937.0,...,0,0,0,0,0,0,0,0,0,1
48706,2003,82174,3269.0,4435.0,6893.0,8221.0,4526.0,5761.0,8266.0,9388.0,...,1,0,0,0,0,0,0,0,1,0

In [32]:
columnas1=testing.columns.values
columnasTesting = list(columnas1)
columnas2=training.columns.values
columnasTraining = list(columnas2)
print("Elementos diferentes en los dataframes:",   set(columnasTraining) - set(columnasTesting ))

Elementos diferentes en los dataframes: {'Make_PLYMOUTH', 'IsBadBuy', 'Transmission_Manual', 'Make_TOYOTA SCION', 'Make_HUMMER'}

El resultado anterior nos arroja que existen diferentes columnas para Testing y Trainig, cuando la única variable distinta debería ser "IsBadBuy". Vamos a buscar las variables una por una dentro de Testing para comparar.

In [33]:
datos_categoricosTest["Make"].value_counts() #Vamos a ver la cantidad de marcas por tipo en el daframe de testing

CHEVROLET     11486
DODGE          8095
FORD           7441
CHRYSLER       6050
PONTIAC        3001
KIA            1914
SATURN         1392
HYUNDAI        1311
NISSAN         1228
JEEP           1187
SUZUKI          873
MITSUBISHI      783
TOYOTA          780
MAZDA           704
MERCURY         620
BUICK           500
GMC             388
HONDA           318
OLDSMOBILE      163
SCION            85
ISUZU            85
VOLKSWAGEN       71
LINCOLN          66
VOLVO            42
CADILLAC         29
INFINITI         28
ACURA            26
LEXUS            19
SUBARU           12
MINI             10
Name: Make, dtype: int64

Del resultado anterior, vemos que no existen en el dataframe de testeo las marcas "HUMMER", "TOYOTA SCION" y "PLYMOUTH" por lo que debemos eliminar estas marcas del dataframe de Training.

In [34]:
datos_categoricosTest["Transmission"].value_counts() #Vamos a ver la cantidad de transmisiones por tipo en el dataframe de testing

AUTO      47013
MANUAL     1694
Name: Transmission, dtype: int64

Del resultado anterior vemos que dentro del dataframe Testeo no existe ninguna transmisión llamada "Trasmisión manual", por lo que se asume que el encargado de recopilar los datos cometió un error y tomo las variables "Transmisión manual" y "MANUAL" como distintas, por lo tanto vamos a nombrar todas las "Transmisión manual" como manual y a eliminar las marcas de autos sobrantes dentro del dataframe de Training.

In [35]:
datos_categoricos2=datos_categoricos.replace({"Transmission_Manual": "MANUAL","Manual":"MANUAL"}) #Convertimos el nombre "Transmision manual" por "MANUAL"
datos_categoricos2["Transmission"].value_counts() #En este caso vemos que existe otra "Manual", por lo que en el replace de arriba se cambia igualmente

AUTO      70407
MANUAL     2576
Name: Transmission, dtype: int64

In [36]:
DatosCategoricos = pd.get_dummies(datos_categoricos2) #Hacemos de nuevo la codificación en caliente
DatosCategoricos2=DatosCategoricos.drop(["Make_HUMMER","Make_TOYOTA SCION","Make_PLYMOUTH"],axis=1) #Eliminamos las columnas anteriormente definidas
DatosCategoricos2

,Auction_ADESA,Auction_MANHEIM,Auction_OTHER,Make_ACURA,Make_BUICK,Make_CADILLAC,Make_CHEVROLET,Make_CHRYSLER,Make_DODGE,Make_FORD,...,Size_MEDIUM SUV,Size_SMALL SUV,Size_SMALL TRUCK,Size_SPECIALTY,Size_SPORTS,Size_VAN,TopThreeAmericanName_CHRYSLER,TopThreeAmericanName_FORD,TopThreeAmericanName_GM,TopThreeAmericanName_OTHER
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72978,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
72979,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
72980,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
72981,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
72982,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [37]:
#A continuación, se unen los dos dataframes preprocesados (Numéricos + Categóricos)
training=pd.concat([DatosNumericos,DatosCategoricos2],axis=1)
training #De esta forma ya tendríamos totalmente filtrados y limpiados los datos de entrenamiento

,IsBadBuy,VehYear,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,...,Size_MEDIUM SUV,Size_SMALL SUV,Size_SMALL TRUCK,Size_SPECIALTY,Size_SPORTS,Size_VAN,TopThreeAmericanName_CHRYSLER,TopThreeAmericanName_FORD,TopThreeAmericanName_GM,TopThreeAmericanName_OTHER
0,0,2006,89046,8155.0,9829.0,11636.0,13600.0,7451.0,8552.0,11597.0,...,0,0,0,0,0,0,0,0,0,1
1,0,2004,93593,6854.0,8383.0,10897.0,12572.0,7456.0,9222.0,11374.0,...,0,0,0,0,0,0,1,0,0,0
2,0,2005,73807,3202.0,4760.0,6943.0,8457.0,4035.0,5557.0,7146.0,...,0,0,0,0,0,0,1,0,0,0
3,0,2004,65617,1893.0,2675.0,4658.0,5690.0,1844.0,2646.0,4375.0,...,0,0,0,0,0,0,1,0,0,0
4,0,2005,69367,3913.0,5054.0,7723.0,8707.0,3247.0,4384.0,6739.0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72978,1,2001,45234,1996.0,2993.0,2656.0,3732.0,2190.0,3055.0,4836.0,...,0,0,0,0,0,0,0,1,0,0
72979,0,2007,71759,6418.0,7325.0,7431.0,8411.0,6785.0,8132.0,10151.0,...,0,0,0,0,0,0,0,0,1,0
72980,0,2005,88500,8545.0,9959.0,9729.0,11256.0,8375.0,9802.0,11831.0,...,1,0,0,0,0,0,1,0,0,0
72981,0,2006,79554,6420.0,7604.0,7434.0,8712.0,6590.0,7684.0,10099.0,...,0,0,0,0,0,0,0,0,1,0
72982,0,2006,66855,7535.0,8771.0,8638.0,9973.0,7730.0,9102.0,11954.0,...,0,0,0,0,0,0,0,0,0,1

In [38]:
#Comparamos de nuevo
columnas1=testing.columns.values
columnasTesting = list(columnas1)
columnas2=training.columns.values
columnasTraining = list(columnas2)
print("Elementos diferentes en los dataframes:",   set(columnasTraining) - set(columnasTesting )) #En este caso vemos que ya no existe diferencia entre
#los dataframes, por lo que se puede decir que el procesado fue exitoso

Elementos diferentes en los dataframes: {'IsBadBuy'}